<div class="modal-color">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title">Pick a new color</h4>
      </div>
      <div class="modal-body">
        <div class="picker">
          <input type="text" class="color-picker">
        </div>
        <div class="display">
          <div class="old" style="background: rgb(<%= color %>);"><p>Old</p></div>
          <div class="new" style="background: rgb(<%= color %>);"><p>New</p></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save">Save</button>
      </div>
    </div>
  </div>
</div>